.Btn{
    padding: 15px 25px 15px 25px ;
    background:#fff;
    border-radius: 10px;
    font-weight: 500;
    color: #1D1C1E;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.Btn:hover{
    background: #FFAD98;
    color: #FFF;
}