.section{
    height: 100vh;
    background: #1D1C1E;
    position: relative;
    
}

.footerCard{
    display: grid;
    place-content: center;
    background: #E7816B;
    padding: 60px 20px 60px 20px;
    gap: 40px;
    margin: 30px;
    border-radius: 20px;
    position: absolute;
    top: -25%;

}

.footerCard p{
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
.footerCard p span{
    display: block;
}

.footerCard span{
    color: #fff;
    text-align: center;
}
.button{
    display: grid;
    place-content: center;
}

.aboutSection{
    display: grid;
    place-content: center;
    color: #fff;
    padding-top: 70%;
}

.aboutSection .logo{
    
    
}